// Define a mixin that sets left and right margins
@mixin horizontal-margins($left, $right) {
  margin-left: $left;
  margin-right: $right;
}

// Apply the mixin to body and div tags
body {
  @include horizontal-margins(10px, 10px);
}

div {
  @include horizontal-margins(15px, 15px);
}
